<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Quản Lý Ấn Chỉ & Ấn Phẩm</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Kiểm Đếm</a></li>
            <li class="breadcrumb-item active">Danh Mục</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">DANH SÁCH DANH MỤC ACQT
                </h4>
                <div class="row">
                    <div class="col-md-4 text-right">
                        <div id="myTable_filter" class="dataTables_filter">
                            <label>
                          
                        </label>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>