<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Quản Lý Ấn Chỉ & Ấn Phẩm</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Kiểm Đếm</a></li>
            <li class="breadcrumb-item active">Danh Mục</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">DANH SÁCH DANH MỤC ACQT
                </h4>
                <div class="row">
                    <div class="col-md-8 text-left">
                        <!-- <button type="button" class="btn btn-outline-success btn-rounded waves-effect waves-light m-r-10" (click)="createCategory()"><i class="fa fa-plus"></i> Tạo danh mục mới</button> -->
                        <button type="button" class="btn btn-outline-info btn-rounded waves-effect waves-light m-r-10" (click)="editCategory()"><i class="fa fa-edit"></i> Chỉnh sửa</button>
                        <button type="button" class="btn btn-outline-info btn-rounded waves-effect waves-light m-r-10" (click)="onDetailCategory()"><i class="fa fa-link"></i> Xem chi tiết</button>
                    </div>
                    <div class="col-md-4 text-right">
                        <div id="myTable_filter" class="dataTables_filter">
                            <label>
                          <input type="search" class="form-control form-control-sm" placeholder="Tìm kiếm"
                            aria-controls="myTable" [(ngModel)]="term">
                        </label>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example" *ngIf="this.temp_var">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Chọn</th>
                                <th [class.active]="order === 'loai_acqt'" (click)="setOrder('loai_acqt')" class="mdl-data-table__cell--non-numeric">Loại
                                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                                </th>
                                <th [class.active]="order === 'kyhieu'" (click)="setOrder('kyhieu')">Ký hiệu
                                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                                </th>
                                <th [class.active]="order === 'donvitinh'" (click)="setOrder('donvitinh')">Đơn vị tính
                                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                                </th>
                                <th [class.active]="order === 'sldonggoi'" (click)="setOrder('sldonggoi')">Số lượng gói
                                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                                </th>
                                <th [class.active]="order === 'sldongthung'" (click)="setOrder('sldongthung')">Số lượng thùng
                                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of data | orderBy: order:reverse |filter:term;index as i">
                                <td>{{indexPa + 1 + i}}</td>
                                <td>
                                    <mat-radio-button class="example-radio-button" [value]="item?.rid" (change)="onSelectionHandle(item)">
                                    </mat-radio-button>
                                </td>
                                <td style="white-space:pre-wrap !important">{{item.loai_acqt}}</td>
                                <td><span class="text-muted"><i class="fa fa-clock-o"></i>{{item.kyhieu}}</span>
                                </td>
                                <td>{{item.donvitinh}}</td>
                                <td>{{item.sldonggoi}}</td>
                                <td>{{item.sldongthung}}</td>
                            </tr>
                            <tr class="no-data" [hidden]="!checkHideText() || loading">
                                <td colspan="7" style="text-align: center;color: rgb(172, 172, 172);font-weight: bold;font-style: italic;">Không có dữ liệu hiển thị</td>
                            </tr>
                        </tbody>
                        <div class="spinner-container" [hidden]="!loading">
                            <mat-spinner diameter="60"></mat-spinner>
                        </div>
                    </table>
                </div>
                <mat-paginator *ngIf="totalrow!== 0" [length]="totalrow" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50, 100]" (page)="pageEvent($event)">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>

<!-- <ng-template #customLoadingTemplate>
</ng-template>

<ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true }" [template]="customLoadingTemplate">
</ngx-loading> -->